[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
cloudformation-cli-python-plugin = "*"

[packages]
boto3 = "*"
cloudformation-cli-python-lib = "*"
cloudformation-cli-python-plugin = "*"
boto3-stubs = {extras = ["organizations"],version = "*"}
cfn-lint = "*"
yamllint = "*"

[requires]
python_version = "3.7"
