[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
cloudformation-cli = "*"
cloudformation-cli-python-plugin = "*"
mypy = "*"
moto = "*"

[packages]
boto3 = "*"
boto3-stubs = {extras = ["organizations"],version = "*"}
cfn-lint = "*"
yamllint = "*"
cfnresponse = "*"
crhelper = "*"

[requires]
python_version = "3.8"
