[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
boto3-stubs = {extras = ["organizations"],version = "*"}
cfn-response = "*"
cloudformation-cli = "*"
cloudformation-cli-python-plugin = "*"
cloudformation-cli-python-lib = "*"
mypy = "*"
moto = "*"

[packages]
boto3 = "*"
# cfn-lint = "*" # disabled and replaced with Docker https://github.com/tomwwright/littleorange/issues/13
yamllint = "*"
crhelper = "*"
sceptre = "*"
aws-sam-translator = "*"
aws-cdk-core = "*"
aws-cdk-aws-lambda = "*"
aws-cdk-aws-iam = "*"
aws-cdk-aws-ssm = "*"

[requires]
python_version = "3.8"
